<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myzy.patient.patient.mapper.MedicationInfoMapper">

    <select id="selectByPatientId" resultType="com.myzy.patient.patient.entity.MedicationInfo">
        SELECT *
        from medication_info where patient_id = #{patientId}
    </select>
</mapper>